Este código Python realiza a análise de dados de uma empresa de prestação de serviços utilizando a biblioteca `pandas`. Ele carrega dados de clientes, funcionários e serviços prestados a partir de arquivos CSV e Excel, e executa as seguintes operações:

1. **Carregamento de Dados**:
   - Leitura de arquivos `CadastroClientes.csv`, `CadastroFuncionarios.csv` e `BaseServiçosPrestados.xlsx`.

2. **Processamento de Dados**:
   - Remove colunas desnecessárias dos dados dos funcionários.
   - Calcula o salário total dos funcionários.
   - Mescla dados de clientes e serviços para calcular o faturamento total dos serviços.

3. **Cálculos Financeiros e Estatísticos**:
   - Calcula e exibe o salário total dos funcionários.
   - Calcula e exibe o faturamento total dos serviços.
   - Determina e exibe o percentual de funcionários que fecharam contratos.
   - Conta e exibe a quantidade de contratos fechados por área e a quantidade de funcionários por área.
   - Calcula e exibe o faturamento médio dos contratos dos clientes.

O código também exibe as tabelas resultantes para visualização dos dados processados.

In [3]:
import pandas as pd
clientes = pd.read_csv("CadastroClientes.csv", sep=';')
funcionarios = pd.read_csv("CadastroFuncionarios.csv", sep=';', decimal=',')
funcionarios = funcionarios.drop(["Estado Civil", "Cargo"], axis = 1)
servicos = pd.read_excel("BaseServiçosPrestados.xlsx")

faturamento = servicos[["ID Cliente", "Tempo Total de Contrato (Meses)"]].merge(clientes[["ID Cliente", "Valor Contrato Mensal"]], on="ID Cliente")
funcionarios["Salario Total"] = funcionarios["Salario Base"] + funcionarios["Impostos"] + funcionarios["Beneficios"] + funcionarios["VT"] + funcionarios["VR"]

print("Tabela Funcionários: ")
display(funcionarios)

print("Tabela faturamento: ")
faturamento["Faturamento total de cada serviço"] = faturamento["Tempo Total de Contrato (Meses)"] * faturamento["Valor Contrato Mensal"]
display(faturamento)

print("Tabela Serviços: ")
display(servicos)

print("Salário total dos funcionários: {:,.2f} R$".format(sum(funcionarios["Salario Total"])).replace(',', '.'))
print("Faturamento total {:,.2f} R$".format(sum(faturamento["Faturamento total de cada serviço"])).replace(',', '.'))

qtd_funcionarios = len(funcionarios["ID Funcionário"])
qtd_funcionarios_fechado = len(servicos["ID Funcionário"].unique())
percentual = qtd_funcionarios_fechado / qtd_funcionarios 
print("Percentual de funcionários que fecharam contrato: {:.2%}".format(percentual))

print("Contratos fechados por área: ")
contrato_areas = servicos[["ID Funcionário"]].merge(funcionarios[["ID Funcionário", "Area"]], on='ID Funcionário')
qtd_contrato_areas = contrato_areas["Area"].value_counts()
display(qtd_contrato_areas)

print("Funcionários por área: ")
qtd_funcionarios_area = funcionarios["Area"].value_counts()
display(qtd_funcionarios_area)

faturamento_medio = clientes["Valor Contrato Mensal"].mean()
print("Faturamento médio: {:.2f} R$".format(faturamento_medio).replace(',','.'))

Tabela Funcionários:

,ID Funcionário,Nome Completo,Salario Base,Impostos,Beneficios,VT,VR,Area,Salario Total
0,1,Gabriel Mesquita,21910,10955.0,4382.0,242,719.04,Operações,38208.04
1,2,João Haddad,5404,2702.0,1080.8,154,574.56,Logística,9915.36
2,3,Amanda Marques Ribeiro,16066,8033.0,3213.2,154,729.12,Administrativo,28195.32
3,4,Guilherme Nunez,21305,10652.5,4261.0,220,524.16,Administrativo,36962.66
4,5,Adelino Gomes,5098,2549.0,1019.6,176,725.76,Administrativo,9568.36
...,...,...,...,...,...,...,...,...,...
109,143,Renan Scharnhorst Ott,10793,5396.5,2158.6,242,514.08,Logística,19104.18
110,144,Lucas Brum Pereira,4048,2024.0,809.6,198,796.32,Comercial,7875.92
111,148,Caio Stellet,24596,12298.0,4919.2,242,561.12,Administrativo,42616.32
112,149,Fernanda Rocha,5078,2539.0,1015.6,308,665.28,Comercial,9605.88
113,150,Eduardo Brum,15939,7969.5,3187.8,220,769.44,Comercial,28085.74

Tabela faturamento:

,ID Cliente,Tempo Total de Contrato (Meses),Valor Contrato Mensal,Faturamento total de cada serviço
0,1,14,540,7560
1,2,12,1260,15120
2,4,14,2520,35280
3,5,8,3510,28080
4,6,8,2340,18720
...,...,...,...,...
232,315,4,1575,6300
233,316,8,3690,29520
234,317,6,2385,14310
235,319,14,4185,58590
236,320,12,2430,29160

Tabela Serviços:

,Codigo do Servico,ID Funcionário,ID Cliente,Tempo Total de Contrato (Meses)
0,OS0001,67,1,14
1,OS0002,17,2,12
2,OS0003,116,4,14
3,OS0004,37,5,8
4,OS0005,130,6,8
...,...,...,...,...
232,OS0233,111,315,4
233,OS0234,124,316,8
234,OS0235,72,317,6
235,OS0236,90,319,14
236,OS0237,22,320,12

Salário total dos funcionários: 2.717.493.22 R$
Faturamento total 5.519.160.00 R$
Percentual de funcionários que fecharam contrato: 86.84%
Contratos fechados por área:

Area
Administrativo    63
Operações         48
Comercial         44
Financeiro        42
Logística         40
Name: count, dtype: int64

Funcionários por área:

Area
Administrativo    26
Comercial         26
Operações         23
Logística         21
Financeiro        18
Name: count, dtype: int64

Faturamento médio: 2502.56 R$

________________________________________________________________________________________________________________________________
Este código Python realiza a leitura e processamento dos dados de funcionários de uma empresa utilizando a biblioteca `pandas`. Ele carrega os dados de um arquivo CSV e executa as seguintes operações:

1. **Carregamento de Dados**:
   - Leitura do arquivo `CadastroFuncionarios.csv` usando ponto-e-vírgula como delimitador e vírgula para separação decimal.

2. **Processamento de Dados**:
   - Remove as colunas "Estado Civil" e "Cargo" dos dados dos funcionários.
   - Calcula o salário total dos funcionários somando "Salario Base", "Impostos", "Beneficios", "VT" e "VR".

3. **Exibição e Cálculos**:
   - Exibe a coluna com o salário total dos funcionários.
   - Calcula e imprime a folha salarial total dos funcionários, formatada em reais (R$).

O código fornece uma visão clara e resumida dos custos salariais totais da empresa.

In [4]:
import pandas as pd
funcionarios = pd.read_csv("CadastroFuncionarios.csv", sep=';', decimal=',')
funcionarios = funcionarios.drop(["Estado Civil", "Cargo"], axis = 1)
funcionarios["Salario Total"] = funcionarios["Salario Base"] + funcionarios["Impostos"] + funcionarios["Beneficios"] + funcionarios["VT"] + funcionarios["VR"]
display(funcionarios["Salario Total"])
print("Folha salarial total dos funcionários: {:,.2f} R$".format(sum(funcionarios["Salario Total"])).replace(",", "."))

0      38208.04
1       9915.36
2      28195.32
3      36962.66
4       9568.36
         ...
109    19104.18
110     7875.92
111    42616.32
112     9605.88
113    28085.74
Name: Salario Total, Length: 114, dtype: float64

Folha salarial total dos funcionários: 2.717.493.22 R$

________________________________________________________________________________________________________________________________
Este código Python manipula um dicionário contendo informações sobre um vídeo, incluindo diferentes versões para download. Ele executa as seguintes operações:

1. **Definição do Dicionário**:
   - Um dicionário chamado `video` é definido, contendo informações como URI, nome e detalhes de download em várias qualidades (source, HD, SD).

2. **Iteração e Extração de Informações**:
   - Itera sobre as chaves do dicionário `video` e atribui a variável `dicio` a lista de links de download presentes no dicionário `video`.

3. **Exibição do Link de Download**:
   - Imprime o link de download da primeira versão de qualidade disponível.

O código fornece uma maneira simples de acessar e imprimir o link para download do vídeo na qualidade mais alta disponível.

In [5]:
dicio = {}
video = {'uri': '/videos/465407533', 'name': '15 Atalhos no Excel para Ficar Mais Produtivo', 'download': [{'quality': 'source', 'type': 'source', 'width': 1920, 'height': 1080, 'expires': '2020-10-07T04:00:55+00:00', 'link': 'https://player.vimeo.com/play/2064518513?s=465407533_1602043255_5f2f93dd00b66eba66d481f913383b4f&loc=external&context=Vimeo%5CController%5CApi%5CResources%5CUser%5CVideosController.&download=1&filename=15%2BAtalhos%2Bno%2BExcel%2Bpara%2BFicar%2BMais%2BProdutivosource.mp4', 'created_time': '2020-10-06T14:26:17+00:00', 'fps': 30, 'size': 402678442, 'md5': 'af09508ceceed4994554f04e8b931e22', 'public_name': 'Original', 'size_short': '384.02MB'}, {'quality': 'hd', 'type': 'video/mp4', 'width': 1920, 'height': 1080, 'expires': '2020-10-07T04:00:55+00:00', 'link': 'https://player.vimeo.com/play/2064523157?s=465407533_1602043255_ab7b8353c59b5048032396ec5d95a276&loc=external&context=Vimeo%5CController%5CApi%5CResources%5CUser%5CVideosController.&download=1&filename=15%2BAtalhos%2Bno%2BExcel%2Bpara%2BFicar%2BMais%2BProdutivo175.mp4', 'created_time': '2020-10-06T14:29:06+00:00', 'fps': 30, 'size': 173556205, 'md5': '3c05e1e69bd6b13eb1464451033907d2', 'public_name': 'HD 1080p', 'size_short': '165.52MB'}, {'quality': 'sd', 'type': 'video/mp4', 'width': 960, 'height': 540, 'expires': '2020-10-07T04:00:55+00:00', 'link': 'https://player.vimeo.com/play/2064523153?s=465407533_1602043255_f5ac38009ec5c0a13b30600c631446a3&loc=external&context=Vimeo%5CController%5CApi%5CResources%5CUser%5CVideosController.&download=1&filename=15%2BAtalhos%2Bno%2BExcel%2Bpara%2BFicar%2BMais%2BProdutivo165.mp4', 'created_time': '2020-10-06T14:29:06+00:00', 'fps': 30, 'size': 89881848, 'md5': '4a5c5c96cdf18202ed20ca534fd88007', 'public_name': 'SD 540p', 'size_short': '85.72MB'}, {'quality': 'sd', 'type': 'video/mp4', 'width': 426, 'height': 240, 'expires': '2020-10-07T04:00:55+00:00', 'link': 'https://player.vimeo.com/play/2064522788?s=465407533_1602043255_16c69872e2c4e92cc949d0b772242959&loc=external&context=Vimeo%5CController%5CApi%5CResources%5CUser%5CVideosController.&download=1&filename=15%2BAtalhos%2Bno%2BExcel%2Bpara%2BFicar%2BMais%2BProdutivo139.mp4', 'created_time': '2020-10-06T14:28:31+00:00', 'fps': 30, 'size': 27401450, 'md5': '91cc0229087ec94bf67f64b01ad8768d', 'public_name': 'SD 240p', 'size_short': '26.13MB'}, {'quality': 'sd', 'type': 'video/mp4', 'width': 640, 'height': 360, 'expires': '2020-10-07T04:00:55+00:00', 'link': 'https://player.vimeo.com/play/2064522787?s=465407533_1602043255_310b087e2fc8c5e1154ce7a33d10d60e&loc=external&context=Vimeo%5CController%5CApi%5CResources%5CUser%5CVideosController.&download=1&filename=15%2BAtalhos%2Bno%2BExcel%2Bpara%2BFicar%2BMais%2BProdutivo164.mp4', 'created_time': '2020-10-06T14:28:31+00:00', 'fps': 30, 'size': 48627155, 'md5': '548640bf79ce1552a3401726bb0e4224', 'public_name': 'SD 360p', 'size_short': '46.37MB'}]}
for itens in video:
    dicio = video['download']
print("Download: ", dicio[0]['link'])

Download:  https://player.vimeo.com/play/2064518513?s=465407533_1602043255_5f2f93dd00b66eba66d481f913383b4f&loc=external&context=Vimeo%5CController%5CApi%5CResources%5CUser%5CVideosController.&download=1&filename=15%2BAtalhos%2Bno%2BExcel%2Bpara%2BFicar%2BMais%2BProdutivosource.mp4

________________________________________________________________________________________________________________________________
Neste exercício, você trabalhará com um dicionário que contém os níveis de CO2 de diversos estados brasileiros. O objetivo é calcular a média dos níveis de CO2 para cada estado e identificar aqueles que ultrapassaram um limite estabelecido.

#### Tarefas:

1. **Definição do Dicionário**:
   - Defina um dicionário chamado `niveis_co2` onde as chaves são os estados e os valores são listas de níveis de CO2 registrados.

2. **Cálculo da Média**:
   - Para cada estado, calcule a média dos níveis de CO2.

3. **Verificação do Limite**:
   - Se a média dos níveis de CO2 de um estado for maior que 450, imprima uma mensagem informando que o estado ultrapassou os níveis de CO2 e que uma equipe especializada deve ser chamada para verificar a região.

In [6]:
nivel_co2 = []
niveis_co2 = {
    'AC': [325,405,429,486,402],
    'AL': [492,495,310,407,388],
    'AP': [507,503,368,338,400],
    'AM': [429,456,352,377,363],
    'BA': [321,508,372,490,412],
    'CE': [424,328,425,516,480],
    'ES': [449,506,461,337,336],
    'GO': [425,460,385,485,460],
    'MA': [361,310,344,425,490],
    'MT': [358,402,425,386,379],
    'MS': [324,357,441,405,427],
    'MG': [345,367,391,427,516],
    'PA': [479,514,392,493,329],
    'PB': [418,499,317,302,476],
    'PR': [420,508,419,396,327],
    'PE': [404,444,495,320,343],
    'PI': [513,513,304,377,475],
    'RJ': [502,481,492,502,506],
    'RN': [446,437,519,356,317],
    'RS': [427,518,459,317,321],
    'RO': [517,466,512,326,458],
    'RR': [466,495,469,495,310],
    'SC': [495,436,382,483,479],
    'SP': [495,407,362,389,317],
    'SE': [508,351,334,389,418],
    'TO': [339,490,304,488,419],
    'DF': [376,516,320,310,518], 
}
for chave in niveis_co2:
    qtd = len(niveis_co2[chave])
    media = sum(niveis_co2[chave]) / qtd
    if media > 450:
        print(f"{chave} passou os níveis de CO2 com {media}. Por favor, chamar equipe especializada para verificar região.")

RJ passou os níveis de CO2 com 496.6. Por favor, chamar equipe especializada para verificar região.
RO passou os níveis de CO2 com 455.8. Por favor, chamar equipe especializada para verificar região.
SC passou os níveis de CO2 com 455.0. Por favor, chamar equipe especializada para verificar região.

________________________________________________________________________________________________________________________________
Neste exercício, você trabalhará com listas que representam diferentes produtos e suas vendas em dois anos consecutivos. O objetivo é calcular o crescimento ou decrescimento das vendas de 2019 para 2020 para cada produto e exibir essa informação.

#### Tarefas:

1. **Definição das Listas**:
   - Defina uma lista chamada `produtos` que contém os nomes dos produtos.
   - Defina duas listas chamadas `vendas2019` e `vendas2020` que contêm os números de vendas desses produtos nos anos de 2019 e 2020, respectivamente.

2. **Cálculo do Crescimento**:
   - Para cada produto, calcule a taxa de crescimento ou decrescimento das vendas de 2019 para 2020.

3. **Exibição dos Resultados**:
   - Para cada produto, exiba uma mensagem com o nome do produto, as vendas de 2019, as vendas de 2020, e a taxa de crescimento ou decrescimento percentual.

In [7]:
produtos = ['iphone', 'galaxy', 'ipad', 'tv', 'máquina de café', 'kindle', 'geladeira', 'adega', 'notebook dell', 'notebook hp', 'notebook asus', 'microsoft surface', 'webcam', 'caixa de som', 'microfone', 'câmera canon']
vendas2019 = [558147,712350,573823,405252,718654,531580,973139,892292,422760,154753,887061,438508,237467,489705,328311,591120]
vendas2020 = [951642,244295,26964,787604,867660,78830,710331,646016,694913,539704,324831,667179,295633,725316,644622,994303]
for i, produto in enumerate(produtos):
    cresc_produto = (vendas2020[i] / vendas2019[i]) - 1
    if cresc_produto < 0:
        print(f"PRODUTO: {produto} - VENDAS DE 2019 : {vendas2019[i]}u - VENDAS DE 2020 : {vendas2020[i]}u - DECRESCIMENTO 2019/2020 {cresc_produto:.1%}")
    else:
        print(f"PRODUTO: {produto} - VENDAS DE 2019 : {vendas2019[i]}u - VENDAS DE 2020 : {vendas2020[i]}u - CRESCIMENTO 2019/2020 {cresc_produto:.1%}")

PRODUTO: iphone - VENDAS DE 2019 : 558147u - VENDAS DE 2020 : 951642u - CRESCIMENTO 2019/2020 70.5%
PRODUTO: galaxy - VENDAS DE 2019 : 712350u - VENDAS DE 2020 : 244295u - DECRESCIMENTO 2019/2020 -65.7%
PRODUTO: ipad - VENDAS DE 2019 : 573823u - VENDAS DE 2020 : 26964u - DECRESCIMENTO 2019/2020 -95.3%
PRODUTO: tv - VENDAS DE 2019 : 405252u - VENDAS DE 2020 : 787604u - CRESCIMENTO 2019/2020 94.3%
PRODUTO: máquina de café - VENDAS DE 2019 : 718654u - VENDAS DE 2020 : 867660u - CRESCIMENTO 2019/2020 20.7%
PRODUTO: kindle - VENDAS DE 2019 : 531580u - VENDAS DE 2020 : 78830u - DECRESCIMENTO 2019/2020 -85.2%
PRODUTO: geladeira - VENDAS DE 2019 : 973139u - VENDAS DE 2020 : 710331u - DECRESCIMENTO 2019/2020 -27.0%
PRODUTO: adega - VENDAS DE 2019 : 892292u - VENDAS DE 2020 : 646016u - DECRESCIMENTO 2019/2020 -27.6%
PRODUTO: notebook dell - VENDAS DE 2019 : 422760u - VENDAS DE 2020 : 694913u - CRESCIMENTO 2019/2020 64.4%
PRODUTO: notebook hp - VENDAS DE 2019 : 154753u - VENDAS DE 2020 : 539704u - CRESCIMENTO 2019/2020 248.8%
PRODUTO: notebook asus - VENDAS DE 2019 : 887061u - VENDAS DE 2020 : 324831u - DECRESCIMENTO 2019/2020 -63.4%
PRODUTO: microsoft surface - VENDAS DE 2019 : 438508u - VENDAS DE 2020 : 667179u - CRESCIMENTO 2019/2020 52.1%
PRODUTO: webcam - VENDAS DE 2019 : 237467u - VENDAS DE 2020 : 295633u - CRESCIMENTO 2019/2020 24.5%
PRODUTO: caixa de som - VENDAS DE 2019 : 489705u - VENDAS DE 2020 : 725316u - CRESCIMENTO 2019/2020 48.1%
PRODUTO: microfone - VENDAS DE 2019 : 328311u - VENDAS DE 2020 : 644622u - CRESCIMENTO 2019/2020 96.3%
PRODUTO: câmera canon - VENDAS DE 2019 : 591120u - VENDAS DE 2020 : 994303u - CRESCIMENTO 2019/2020 68.2%

________________________________________________________________________________________________________________________________
Neste exercício, você analisará dados de vendas divididos em dois semestres do ano e calculará algumas métricas importantes, como faturamento total, melhores e piores meses de vendas e o top 3 das vendas.

#### Tarefas:

1. **Definição das Listas**:
   - Defina uma lista chamada `meses` que contém os nomes dos meses do ano.
   - Defina duas listas chamadas `vendas_1sem` e `vendas_2sem` que representam as vendas de dois semestres do ano.

2. **Cálculo das Métricas**:
   - Combine as vendas dos dois semestres em uma única lista.
   - Calcule o faturamento total somando todas as vendas.
   - Encontre o melhor e o pior mês em termos de vendas.
   - Identifique o top 3 das vendas.

3. **Exibição dos Resultados**:
   - Imprima o faturamento total formatado em reais.
   - Calcule e imprima a porcentagem de representação do melhor mês no faturamento total.
   - Identifique e imprima o melhor e o pior mês em termos de vendas.

In [8]:
meses = ['jan', 'fev', 'mar', 'abr', 'mai', 'jun', 'jul', 'ago', 'set', 'out', 'nov', 'dez']
vendas_1sem = [25000, 29000, 22200, 17750, 15870, 19900]
vendas_2sem = [19850, 20120, 17540, 15555, 49051, 9650]

lista_vendas = vendas_1sem + vendas_2sem
maior_venda = max(lista_vendas)
menor_venda = min(lista_vendas)
pos_maior_venda = lista_vendas.index(maior_venda)
pos_menor_venda = lista_vendas.index(menor_venda)
faturamento = sum(lista_vendas)
melhor_mes = maior_venda / faturamento

lista_vendas.sort(reverse=True)

print(f"Top 3 das Vendas: {lista_vendas[0]}, {lista_vendas[1]}, {lista_vendas[2]}")
print("Faturamento total: R${:,.2f}".format(faturamento).replace(",", "-").replace(".", ",").replace("-", "."))
print("O melhor mês representou {:.1%}".format(melhor_mes))
print(f"O melhor mês do ano foi {meses[pos_maior_venda]} com {maior_venda}") 
print(f"O pior mês do ano foi {meses[pos_menor_venda]} com {menor_venda}")

Top 3 das Vendas: 49051, 29000, 25000
Faturamento total: R$261.486,00
O melhor mês representou 18.8%
O melhor mês do ano foi nov com 49051
O pior mês do ano foi dez com 9650

________________________________________________________________________________________________________________________________
Neste exercício, você desenvolverá um programa simples para verificar se a quantidade de produtos em estoque atende aos requisitos mínimos estabelecidos para cada categoria.

#### Tarefas:

1. **Definição dos Requisitos Mínimos**:
   - Defina as quantidades mínimas necessárias para as categorias de produtos: alimentos, bebidas e limpeza.

2. **Entrada de Dados**:
   - Solicite ao usuário a categoria do produto, o nome do produto e a quantidade em estoque.

3. **Verificação de Estoque**:
   - Verifique se a quantidade de produtos em estoque atende aos requisitos mínimos para a categoria especificada.
   - Se atender, exiba uma mensagem indicando que os produtos foram inseridos no estoque.
   - Se não atender, informe que é necessário solicitar mais produtos, indicando o nome do produto e a quantidade disponível em estoque.

4. **Validação de Entrada**:
   - Verifique se todas as informações (categoria, nome do produto e quantidade) foram fornecidas pelo usuário. Caso contrário, exiba uma mensagem de erro.

In [ ]:
minimo_alimentos = 50
minimo_bebidas = 75
minimo_limpeza = 30
categoria = str(input("CATEGORIA DO PRODUTO\n : ")).lower().strip()
nome_produto = str(input("NOME DO PRODUTO\n : ")).lower().strip()
quantidade = int(input("QUANTIDADE DO PRODUTO\n : "))
if categoria and nome_produto and quantidade:
    if categoria == 'bebidas':
        if quantidade >= minimo_bebidas:
            print("Produtos inseridos no estoque.")
        else:
            print(f"Solicitar {nome_produto}, temos apenas {quantidade} em estoque.")
    elif categoria == 'alimentos':
        if quantidade >= minimo_alimentos:
            print("Produtos inseridos no estoque.")
        else:
            print(f"Solicitar {nome_produto}, temos apenas {quantidade} em estoque.")
    elif categoria == 'limpeza':
        if quantidade >= minimo_limpeza:
            print("Produtos inseridos no estoque.")
        else:
            print(f"Solicitar {nome_produto}, temos apenas {quantidade} em estoque.")
else:
    print("Preencha corretamente...")

CATEGORIA DO PRODUTO
 : Guarana

________________________________________________________________________________________________________________________________
Neste exercício, você criará um programa simples para validar e formatar um número de CPF inserido pelo usuário.

#### Tarefas:

1. **Entrada de Dados**:
   - Solicite ao usuário que insira seu CPF.

2. **Validação do CPF**:
   - Verifique se o CPF fornecido consiste apenas em caracteres numéricos.
   - Verifique se o CPF tem exatamente 11 dígitos.

3. **Formatação do CPF**:
   - Se a entrada for válida, remova todos os pontos e traços do CPF inserido.

4. **Exibição do CPF Formatado**:
   - Imprima o CPF formatado sem pontos e traços.

5. **Mensagem de Erro**:
   - Se a entrada não for válida, exiba uma mensagem indicando que o CPF foi inserido incorretamente e que apenas números devem ser digitados.

#### Código de Exemplo:

In [17]:
cpf = input("Insira seu CPF: ").strip()
cpf_formatado = (cpf.replace(".","")).replace("-","")
if (cpf_formatado.isnumeric() == True) and (len(cpf_formatado) == 11):
    print(cpf_formatado)
else:
    print("Digite seu CPF corretamente e digite apenas números.")

Insira seu CPF:   000.000.000-00
00000000000